# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: Rodolfo Lotte, PhD.
title_separator: "-"
email: rodolfolotte@gmail.com
description: &description "PhD in Remote Sensing | MSc in Applied Computing"
baseurl: /personal-page
url: https://rodolfolotte.github.io

github_username: rodolfolotte
minimal_mistakes_skin: dark
search: true
repository               : "rodolfolotte/lotte"
teaser                   : # path of fallback teaser image, e.g. "/assets/images/500x300.png"
breadcrumbs              : false # true, false (default)
words_per_minute         : 200
comments:
  provider               : "facebook"
facebook:      # https://developers.facebook.com/docs/plugins/comments
  appid                :
  num_posts            : 5
  colorscheme          : "dark"
#  discourse:
#    server               : # https://meta.discourse.org/t/embedding-discourse-comments-via-javascript/31963 , e.g.: meta.discourse.org
#  facebook:
#    # https://developers.facebook.com/docs/plugins/comments
#    appid                :
#    num_posts            : # 5 (default)
#    colorscheme          : "dark" # "light" (default), "dark"
#  utterances:
#    theme                : "github-dark" # "github-light" (default), "github-dark"

# Build settings
markdown: kramdown
remote_theme: mmistakes/minimal-mistakes
# Outputting
permalink: /:categories/:title/
paginate: 5 # amount of posts to show
paginate_path: /page:num/
timezone: # https://en.wikipedia.org/wiki/List_of_tz_database_time_zones

include:
  - _pages

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/

# Plugins (previously gems:)
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji
  - jekyll-include-cache

author:
  name   : "Rodolfo Lotte"
  avatar : "/assets/images/site/personal-lotte.png"
  bio    : "Company Owner @ LCIARS / Consultant in Remote Sensing, Machine Learning and Computer Vision / PhD in Remote Sensing / MSc. in Applied Computing"
  location : "São José dos Campos, SP, Brazil"
  links:
    - label: "Email"
      icon: "fas fa-fw fa-envelope-square"
      url: mailto:rodolfo.lotte@gmail.com
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/rodolfolotte"
    - label: "ORCID"
      icon: "fab fa-fw fa-bandcamp"
      url: "http://orcid.org/0000-0001-5729-5733"
    - label: "ResearchGate"
      icon: "fab fa-fw fa-researchgate"
      url: "https://www.researchgate.net/profile/Rodolfo_Lotte"
    - label: "Lattes"
      icon: "fab fa-fw fas fa-graduation-cap"
      url: "http://lattes.cnpq.br/1266066639045233"
    - label: "StackOverflow"
      icon: "fab fa-fw fa-stack-overflow"
      url: "https://stackoverflow.com/users/4800905/rodolfolotte"
    - label: "Instagram"
      icon: "fab fa-fw fa-instagram"
      url: "https://instagram.com/66lotte"

footer:
  links:
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/rodolfolotte"
    - label: "Bitbucket"
      icon: "fab fa-fw fa-bitbucket"
      url: "https://bitbucket.org/rodolfolotte/"
    - label: "StackOverflow"
      icon: "fab fa-fw fa-stack-overflow"
      url: "https://stackoverflow.com/users/4800905/rodolfolotte"
    - label: "Instagram"
      icon: "fab fa-fw fa-instagram"
      url: "https://instagram.com/66lotte"

defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: true
      comments: true
      share: true
      related: true
  # _pages
  - scope:
      path: "_pages"
      type: pages
    values:
      layout: single
      author_profile: true
  # _education
  - scope:
      path: ""
      type: education
    values:
      layout: single
      author_profile: true
      read_time: true
      comments: true
      share: true
  # _publications
  - scope:
      path: ""
      type: publications
    values:
      layout: single
      author_profile: true
      read_time: true
      comments: true
      share: true
  # _portfolio
  - scope:
      path: ""
      type: portfolio
    values:
      layout: single
      author_profile: false
      share: true

collections:
  education:
    output: true
    permalink: /:collection/:path/
  publications:
    output: true
    permalink: /:collection/:path/
  portfolio:
    output: true
    permalink: /:collection/:path/

category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/